body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family: Arial, sans-serif;
}

img {
  width: 100%;
}

p {
  text-align: center;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div {
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

/* Media Query cho Tablet View (772px) */
@media (min-width: 772px) {
    div {
        width: 45%;
        display: inline-block;
        margin: 2.5%;
    }
    div img {
        max-height: 30vh;
        width: auto; /* Đảm bảo hình ảnh giữ tỷ lệ khi thay đổi chiều cao */
        height: auto; /* Để hình ảnh co giãn tự nhiên */
    }
}

/* Media Query cho Large Screen View (998px) */
@media (min-width: 998px) {
    div {
        width: 30%;
        display: inline-block;
        margin: 1.5%;
    }
}
